apiVersion: v1
kind: Secret
metadata:
  name: drkiq
type: Opaque
data:
  USERNAME: ${ENCODED_USERNAME}
  PASSWORD: ${ENCODED_PASSWORD}
  SECRET_TOKEN: ${ENCODED_TOKEN}
  DATABASE_URL: ${ENCODED_DATABASE_URL}